.dock-container{
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

.dock {
 display: flex;
}

.dock.animated .dock-items{
    transition: 0.1s;
    transition-property: transform, transform-origin;
}